/.vscode
/meilisearch
/migration/target
/neo4j
/postgres
/src
/target
.dockerignore
.env
.env.example
.envrc
.gitignore
COPYING
dev.compose.yaml
dev.Dockerfile
flake.lock
flake.nix
prod.compose.yaml
prod.Dockerfile
README.md
