/.vscode
/init
/meilisearch
/migration/target
/migration/README.md
/neo4j
/postgres
/src
/target
.dockerignore
.env
.env.example
.envrc
.gitignore
COPYING
db.compose.yaml
db.Dockerfile
flake.lock
flake.nix
prod.compose.yaml
prod.Dockerfile
server.Dockerfile
server.compose.yaml
server.sh
README.md
