/.direnv
/.git
/.github
/.vscode
/entity/target
/init
/meilisearch
/migration/target
/migration/README.md
/neo4j
/postgres
/src
/target
.dockerignore
.env
.env.example
.envrc
.gitignore
COPYING
README.md
dev.compose.yaml
dev.Dockerfile
entity.compose.yaml
flake.lock
flake.nix
prod.compose.yaml
prod.Dockerfile
renovate.json
schema.yaml
